* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

body > * {
    transition: all 100ms;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 5rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 20px;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 20px;
}

#box3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
}

